//- -variables
//- main colors
$main_font_color: #474b57;
$blue: #004cd1;
$beige: #f2f0e8;
$lighter_beige: #f4f5f0;
// layout
@import 'mixins/mixins';
@import 'layout/settings';
@import 'layout/font';
// sections
@import 'sections/**/*.*';
@import 'common/**/*.*';
// preloader
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-image: url('./../img/decor/night_prel_bg.jpg');
    background-color: #083c96;
}
.preloader__spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: -13px;
        left: 50%;
        margin-left: -5px;
        transform: rotate(0);
        transform-origin: center 60px;
        animation: rotate 2s infinite linear;
    }
}
.preloader__animation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.preloader__animation-icon {
    width: 95px;
    height: 95px;
}
.preloader__circle {
    stroke-dasharray: 158;
    stroke-dashoffset: 158;
    animation: circle 3s infinite linear;
    transform: rotate(-90deg);
    transform-origin: center center;
}
.preloader__percents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    margin-top: -3px;
}

@keyframes circle {
from {stroke-dashoffset: 158}
50% {stroke-dashoffset: 0}
to {stroke-dashoffset: -158}
}
@keyframes rotate {
    from {transform: rotate(0)}
    50% {transform: rotate(-360deg)}
    to {transform: rotate(-720deg)}
}