//- -variables
//- main colors
$main_color: #f5f5d2;
$red: #ba0022;
$light_red: #c01934;
// layout
@import 'mixins/mixins';
@import 'layout/settings';
@import 'layout/font';
// sections
@import 'sections/**/*.*';
@import 'common/**/*.*';