@font-face {
	font-family: 'gotham-light';
    src: url('./../fonts/GothaProLig.otf');
    font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'gotham-medium';
    src: url('./../fonts/GothaProMed.otf');
    font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'gotham-bold';
    src: url('./../fonts/GothaProBla.otf');
    font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'cochin-italic';
    src: url('./../fonts/Cochin Italic.ttf');
    font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'cochin';
    src: url('./../fonts/Cochin.ttf');
    font-weight: 400;
	font-style: normal;
}