body, html {
    margin: 0;
    height: 100%;
}
html {
    font-size: 16px;
}
body {
    font-family: 'gotham-medium', Arial, sans-serif;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}
* {
    box-sizing: border-box;
}
.wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    background:
    repeating-linear-gradient(
        135deg, 
        $red, $red 5px, 
        $light_red 0, $light_red 10px);
}
h1 {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}