body, html {
    margin: 0;
    height: 100%;
}
html {
    font-size: 16px;
    @include phone {
        font-size: 14px;
    }
}
body {
    font-family: "Roboto", Arial, sans-serif;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}
* {
    box-sizing: border-box;
}
.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}