%clearfix {
  &:after,
  &:before {
    content: "";
    display: block;
    clear: both;
  }
}
//- центровка блока
@mixin centered($axis: 'both') {
  position: absolute;
  @if $axis=='x' {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $axis=='y' {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axis=='both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
// adaptive

@mixin w1600 {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin w1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin h980 {
  @media (max-height: 980px) {
    @content;
  }
}

@mixin h800 {
  @media (max-height: 800px) {
    @content;
  }
}

@mixin h720 {
  @media (max-width: 720px) {
    @content;
  }
}